.is-invalid, .is-valid {
  background-position: right 15px center;
  background-repeat: no-repeat;
  padding-right: 45px;
}

.is-invalid {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAAA3NCSVQICAjb4U/gAAAACXBIWXMAAABvAAAAbwHxotxDAAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAABVQTFRF////4xwc4Boa4xsb4xsb4hsb4hsbAzjqOAAAAAZ0Uk5TABIyvM7u8CvBkgAAAFJJREFUCB1jYFAWYGBgNGJgYApzZGAQSVVgUE1LEWB0SwtiMEtLcxRJS0tmABIpbkAOA1AYCFKAOoBCIAGgVjeIAIIBk4IrhmuHGwi3Am4pzBkAH3Ic9W6bjv0AAAAASUVORK5CYII=');
}

.is-valid {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAAgAAAAIABz1aaNwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAF7SURBVDiNnZO/S1txFMU/Ny9BOhQc2smh6KIQEB0curQoLw6l/0A0lC5F0TiIhAwdCyJRcG1sF01ULIQSClnMlkLBwVFxKxRByCIOVpvknQ4R44u/nh64w733e869nC/XJPEYWH6kF3Pmwxd5FHgelFz886sDnBVkO2HgMzARlPzPq5PZ2+KJ0+H9PW+8RtKZmqhKOrov4j/nT8m5Wt4vSFIfaqFPEncFOTdFztVQacpreJ4kDYQCm7buvgUWgNrXl3O1kBkAPgFbi7mWj+1aPpby1VdHosg2gBAi09/Zc/l1/g1CvAcGgYzlYrMAtjn8DMf5ATwFDjiOfPJTfFAWqDfHsmT50TgNpwB0AwJ90Ezp/FYBJcoVjKlWTxtgry4Es0qUK+3eXDNR49tfgMW28iFE0u1vbxQAIFFOg75f5h7TGi+dBBYQEvXGGLIk5r3Ru+3ijYMAU+uaks1VA+EbEAEGTdJv4EVA4lXUgK4wMAl85AHXCJwCWaD6HwaxzNIyi6csAAAAAElFTkSuQmCC');
}
