<div *ngIf="isOpen && type && message" [ngClass]="class">
  <div [class]="'alert alert-' + type + ' text-center'" [ngClass]="{'alert-dismissible': dismissible}">
    <div *ngIf="isArray(message); else single">
      <p *ngFor="let msg of message" class="lead"><i class="fa mr-2" [ngClass]="icon"></i>{{ msg }}</p>
    </div>
    <ng-template #single>
      <p class="lead"><i class="fa mr-2" [ngClass]="icon"></i>{{ message }}</p>
    </ng-template>
    <button *ngIf="dismissible" type="button" (click)="close()" class="close" data-dismiss="alert">
      <span>&times;</span>
    </button>
  </div>
</div>
