@mixin absolute-right-top($right: 0, $top: 0) {
  position: absolute;
  right: $right;
  top: $top;
}

@mixin absolute-right-bottom($right: 0, $bottom: 0) {
  position: absolute;
  right: $left;
  bottom: $bottom;
}

@mixin absolute-left-bottom($left: 0, $bottom: 0) {
  position: absolute;
  left: $left;
  bottom: $bottom;
}

@mixin absolute-left-top($left: 0, $top: 0) {
  position: absolute;
  left: $left;
  top: $top;
}

@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@mixin absolute-center($top: 50%, $left: 50%) {
  position: absolute;
  top: $top !important;
  left: $left !important;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@mixin centerer($horizontal: true, $vertical: true) {
  position: absolute;
  @if ($horizontal and $vertical) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } @else if ($horizontal) {
    left: 50%;
    transform: translate(-50%, 0);
  } @else if ($vertical) {
    top: 50%;
    transform: translate(0, -50%);
  }
}

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie);
}

@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model;
  -moz-box-sizing: $box-model;
  box-sizing: $box-model;
}

@mixin no-space() {
  margin: 0;
  padding: 0;
}

@mixin total-reset() {
  border: none;
  outline: none;
}

@mixin reset-appearance {
  -webkit-appearance: none;
  appearance: none;
}

@mixin fullscreen($isImportant: false) {
  @if ($isImportant) {
    width: 100% !important;
    height: 100% !important;
  } @else {
    width: 100%;
    height: 100%;
  }
}

@mixin width-height($width: auto, $height: auto) {
  width: $width;
  height: $height;
}
