@font-face {
  font-family: 'Roboto';
  src: url('~assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url('~assets/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('~material-design-icons/iconfont/MaterialIcons-Regular.eot'); /* For IE6-8 */
  src: local('Material Icons'), local('MaterialIcons-Regular'),
    url('~material-design-icons/iconfont/MaterialIcons-Regular.woff2') format('woff2'),
    url('~material-design-icons/iconfont/MaterialIcons-Regular.woff') format('woff'),
    url('~material-design-icons/iconfont/MaterialIcons-Regular.ttf') format('truetype');
}
