<div class="row justify-content-center mt-5 mb-5">
  <div class="text-xs-center">
    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
      <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
        <a class="page-link" (click)="setPage(1)"><<</a>
      </li>
      <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
        <a class="page-link" (click)="setPage(pager.currentPage - 1)"><</a>
      </li>
      <li class="page-item" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
        <a class="page-link" (click)="setPage(page)">{{page}}</a>
      </li>
      <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a class="page-link" (click)="setPage(pager.currentPage + 1)">></a>
      </li>
      <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a class="page-link" (click)="setPage(pager.totalPages)">>></a>
      </li>
    </ul>
  </div>
</div>
