/*----------  Aussie Theme  ----------*/

$beekeeper: #f6e58d;
$spiced-nectarine: #ffbe76;
$pink-glamour: #ff7979;
$june-bud: #badc58;
$coastal-breeze: #dff9fb;
$turbo: #f9ca24;
$quince-jelly: #f0932b;
$carmine-pink: #eb4d4b;
$pure-apple: #6ab04c;
$hint-of-ice-pack: #c7ecee;
$middle-blue: #7ed6df;
$heliotrope: #e056fd;
$exodus-fruit: #686de0;
$deep-koamaru: #30336b;
$soaring-eagle: #95afc0;
$greenland-green: #22a6b3;
$steel-pink: #be2edd;
$blurple: #4834d4;
$deep-cove: #130f40;
$wizard-grey: #535c68;
