/*----------  Chinese Theme  ----------*/

$golden-sand: #eccc68;
$coral: #ff7f50;
$wild-watermelon: #ff6b81;
$peace: #a4b0be;
$grisaille: #57606f;
$orange: #ffa502;
$bruschetta-tomato: #ff6348;
$watermelon: #ff4757;
$bay-wharf: #747d8c;
$prestige-blue: #2f3542;
$lime-soap: #7bed9f;
$french-sky-blue: #70a1ff;
$saturated-sky: #5352ed;
$white: #ffffff;
$city-lights: #dfe4ea;
$ufo-green: #2ed573;
$clear-chill: #1e90ff;
$bright-greek: #3742fa;
$anti-flash-white: #f1f2f6;
$twinkle-blue: #ced6e0;
