/*----------  Dutch Theme  ----------*/

$sunflower: #FFC312;
$energos: #C4E538;
$blue-martina: #12CBC4;
$lavender-rose: #FDA7DF;
$bara-red: #ED4C67;
$radiant-yellow: #F79F1F;
$android-green: #A3CB38;
$mediterranean-sea: #1289A7;
$lavender-tea: #D980FA;
$very-berry: #B53471;
$puffins-bill: #EE5A24;
$pixelated-grass: #009432;
$merchant-marine-blue: #0652DD;
$forgotten-purple: #9980FA;
$hollyhock: #833471;
$red-pigment: #EA2027;
$turkish-aqua: #006266;
$20000-leagues-under-the-sea: #1B1464;
$circumorbital-ring: #5758BB;
$magenta-purple: #6F1E51;
