/*----------  French Theme  ----------*/

$flat-flesh: #fad390;
$melon-melody: #f8c291;
$livid: #6a89cc;
$spray: #82ccdd;
$paradise-green: #b8e994;
$squash-blossom: #f6b93b;
$mandarin-red: #e55039;
$azraq-blue: #4a69bd;
$dupain: #60a3bc;
$aurora-green: #78e08f;
$iceland-poppy: #fa983a;
$tomato-red: #eb2f06;
$yuè-guāng-lán-blue: #1e3799;
$good-samaritan: #3c6382;
$waterfall: #38ada9;
$carrot-orange: #e58e26;
$jalapeno-red: #b71540;
$dark-sapphire: #0c2461;
$forest-blues: #0a3d62;
$reef-encounter: #079992;
