/*----------  German Theme  ----------*/

$fusion-red: #fc5c65;
$orange-hibiscus: #fd9644;
$flirtatious: #fed330;
$reptile-green: #26de81;
$maximum-blue-green: #2bcbba;
$desire: #eb3b5a;
$beniukon-bronze: #fa8231;
$nyc-taxi: #f7b731;
$algal-fuel: #20bf6b;
$turquoise-topaz: #0fb9b1;
$high-blue: #45aaf2;
$c64-ntsc: #4b7bec;
$lighter-purple: #a55eea;
$twinkle-blue: #d1d8e0;
$blue-grey: #778ca3;
$boyzone: #2d98da;
$royal-blue: #3867d6;
$gloomy-purple: #8854d0;
$innuendo: #a5b1c2;
$blue-horizon: #4b6584;
