/*----------  Indian Theme  ----------*/

$orchid-orange: #FEA47F;
$spiro-disco-ball: #25CCF7;
$honey-glow: #EAB543;
$sweet-garden: #55E6C1;
$falling-star: #CAD3C8;
$rich-gardenia: #F97F51;
$clear-chill: #1B9CFC;
$sarawak-white-pepper: #F8EFBA;
$keppel: #58B19F;
$ship-s-officer: #2C3A47;
$fiery-fuchsia: #B33771;
$bluebell: #3B3B98;
$georgia-peach: #FD7272;
$oasis-stream: #9AECDB;
$bright-ube: #D6A2E8;
$magenta-purple: #6D214F;
$ending-navy-blue: #182C61;
$sasquatch-socks: #FC427B;
$pine-glade: #BDC581;
$highlighter-lavender: #82589F;
