/*----------  Russian Theme  ----------*/

$creamy-peach: #f3a683;
$rosy-highlight: #f7d794;
$soft-blue: #778beb;
$brewed-mustard: #e77f67;
$old-geranium: #cf6a87;
$sawtooth-aak: #f19066;
$summertime: #f5cd79;
$cornflower: #546de5;
$tigerlily: #e15f41;
$deep-rose: #c44569;
$purple-mountain-majesty: #786fa6;
$rogue-pink: #f8a5c2;
$squeaky: #63cdda;
$apple-valley: #ea8685;
$pencil-lead: #596275;
$purple-corallite: #574b90;
$flamingo-pink: #f78fb3;
$blue-curacao: #3dc1d3;
$porcelain-rose: #e66767;
$biscay: #303952;
