/*----------  Spanish Theme  ----------*/

$jacksons-purple: #40407a;
$c64-purple: #706fd3;
$swan-white: #f7f1e3;
$summer-sky: #34ace0;
$celestial-green: #33d9b2;
$lucky-point: #2c2c54;
$liberty: #474787;
$hot-stone: #aaa69d;
$devil-blue: #227093;
$palm-springs-splash: #218c74;
$fluorescent-red: #ff5252;
$synthetic-pumpkin: #ff793f;
$crocodile-tooth: #d1ccc0;
$mandarin-sorbet: #ffb142;
$spiced-butternut: #ffda79;
$eye-of-newt: #b33939;
$chilean-fire: #cd6133;
$grey-porcelain: #84817a;
$alameda-ochre: #cc8e35;
$desert: #ccae62;
