/*----------  Swedish Theme  ----------*/

$highlighter-pink: #ef5777;
$dark-periwinkle: #575fcf;
$megaman: #4bcffa;
$fresh-turquoise: #34e7e4;
$minty-green: #0be881;
$sizzling-red: #f53b57;
$free-speech-blue: #3c40c6;
$spiro-disco-ball: #0fbcf9;
$jade-dust: #00d8d6;
$green-teal: #05c46b;
$nârenji-orange: #ffc048;
$yriel-yellow: #ffdd59;
$sunset-orange: #ff5e57;
$hint-of-elusive-blue: #d2dae2;
$good-night: #485460;
$chrome-yellow: #ffa801;
$vibrant-yellow: #ffd32a;
$red-orange: #ff3f34;
$london-square: #808e9b;
$black-pearl: #1e272e;
