/*----------  Turkish Theme  ----------*/

$bright-lilac: #cd84f1;
$pretty-please: #ffcccc;
$light-red: #ff4d4d;
$mandarin-sorbet: #ffaf40;
$unmellow-yellow: #fffa65;
$light-purple: #c56cf0;
$young-salmon: #ffb8b8;
$red-orange: #ff3838;
$radiant-yellow: #ff9f1a;
$dorn-yellow: #fff200;
$wintergreen: #32ff7e;
$electric-blue: #7efff5;
$neon-blue: #18dcff;
$light-slate-blue: #7d5fff;
$shadowed-steel: #4b4b4b;
$weird-green: #3ae374;
$hammam-blue: #67e6dc;
$spiro-disco-ball: #17c0eb;
$light-indigo: #7158e2;
$baltic-sea: #3d3d3d;
