#backToTop {
  position: fixed;
  bottom: -150px;
  right: 30px;
  z-index: 9999;
  border: none;
  outline: none;
  background: #333;
  color: #fff;
  cursor: pointer;
  padding: 15px;
  font-size: 1.4rem;
  transition: all 0.4s ease-out;
}

#backToTop.activeTop {
  bottom: 0px;
}

#backToTop.square {
  padding: 15px;
}

#backToTop.circle {
  border-radius: 100%;
  margin-bottom: 1.5rem;
  width: 65px;
  height: 65px;
  font-size: 1.8rem;
  padding: 0;
}
