.error-page {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-align: center;

  h1, h2 {
    margin: 0;
  }

  h1 {
    font-size: 12.5rem;
    color: #333;
  }

  h2 {
    font-size: 1.5rem;
    color: #777;
  }
}

@media only screen and (max-width: 768px) {
  .error-page {
    h1 {
      font-size: 7.5rem;
    }

    h2 {
      font-size: 1rem;
    }
  }
}

@media only screen and (max-width: 480px) {
  .error-page {
    h1 {
      font-size: 5rem;
    }

    h2 {
      font-size: 0.75rem;
    }
  }
}
